*{
    margin: 0; padding: 0; box-sizing: border-box;
}
h2{
    margin: 5%;
    margin-top: 5%!important;
}
.navbar{
   width: 90%;
   margin: 0 auto;
}
.logostyle{
   height: 40px;
   
}
.fontcheck{
    font-size: small;
}
.rightnav{
    margin-left: 28rem;
    padding: 0;
}

.carasouel{
    height:30rem;
   width: 100%;
   margin-bottom: 0!important;

}
.carousel-item{
 position: relative;
  

}
.carousel-caption{
    position: absolute;
    top: 10%;
 
    
   
}
.carousel-caption h3{
    text-align: left;
    color: black;
}
.carousel-caption p{
    color: black;
    width: 18rem;
    text-align: left;
}
.carousel-caption button{
   position: absolute;
   left: 2rem;
  
}
main{
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}
.card
{
    
   
    border: none !important;
}
.cardbody{
    padding: 0!important;
}
.msstyle{
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    height: 450px;
    background-image: url('mainpic.jpg');
    
}
.maincard{
    position: relative;
    top: 30%;
    left: 10%;
    
}
.maincardbody{
   margin: 4%;
 
}
.last{
    margin: 5%;
}

footer{
    position: relative;
    width: 100%;
    background: #448cf7;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social, footer .information{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  10px 0px;
    flex-wrap: wrap;
}

footer .social li, footer .information li{
    list-style: none;
}

footer .social li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social li a:hover{
    transform: translateY(-10px);

}


footer .information li a{
    font-size: 1.3em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    
}

footer .information li a:hover{
    color: rgb(153, 12, 12);
}

footer p{
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 1.1em;
}

footer .para a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

footer .para a:hover{
    color: rgb(153, 12, 12);
}






