/* Styling the Body element i.e. Color,

        Font, Alignment */

body {


    background: linear-gradient(0deg, rgb(56, 29, 92) 0%, rgb(12, 12, 12) 100%);

    font-family: 'Poppins', sans-serif;

    text-align: center;

    color: #fff;

}


/* Styling the Form (Color, Padding, Shadow) */

form {

        /* background-color: rgb(56, 0, 124); */
        background: linear-gradient(1deg, #17164f 0%, #38376f 50%, #403f9c 100%);
        max-width: 500px;
        margin: 50px auto;
        padding: 30px 20px;
        box-shadow: 2px 5px 10px rgb(0 0 0 / 50%);
        border-radius: 10px;

}


/* Styling form-control Class */

.form-control {

    text-align: left;

    margin-bottom: 25px;

}


/* Styling form-control Label */

.form-control label {

    display: block;

    margin-bottom: 10px;

}


/* Styling form-control input, 

        select, textarea */

.form-control input,

.form-control select,

.form-control textarea {

    border: 1px solid #777;

    border-radius: 10px;

    font-family: inherit;

    padding: 10px;

    display: block;

    width: 95%;

}

#comment {
    border: 1px solid #777;
    border-radius: 10px;
    font-family: inherit;
    padding-top: 7px;
    padding-left: 11px;
    margin: auto;
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
}


/* Styling form-control Radio 

        button and Checkbox */

.form-control input[type="radio"],

.form-control input[type="checkbox"] {

    display: inline-block;

    width: auto;

}

/* Styling Button */

button {

    background-color: #16169f;

    border: none;

    border-radius: 10px;

    font-family: inherit;

    font-size: 20px;

    display: block;

    width: 30%;

    text-align: center;

    margin: auto;

    margin-top: 20px;

    padding-top: 5px;

    padding-bottom: 5px;

    color: white;

}

button:hover {

    background-color: #3535c3;

    border: none;

    border-radius: 10px;

    font-family: inherit;

    font-size: 20px;

    display: block;

    width: 30%;

    text-align: center;

    margin: auto;

    margin-top: 20px;

    padding-top: 5px;

    padding-bottom: 5px;

    color: white;

    transition: all 0.1s ease-in;

    cursor: pointer;
}