html {
    background-color: white;
}

body {
    margin:0px;
    padding:0px;
}

.logo {
    width: 22%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 85px;
}

.apps {
    float: right;
    margin-left: 19px;
    margin-top: 10px;
    padding: 6px;
}

.account {
    float: right;
    margin-left: 3px;
    padding: 3px;
}

.account:hover {
    background-color: #e9ecef;
    border-radius: 30px;
}

.apps:hover {
    background-color: #e9ecef;
    border-radius: 45px;
    border-width: 10px;
    transition: all 0.1s ease;
    background-position: bottom right;
}

.top-navbar {
    padding-top: 1px;
    margin-right: 2px;
}


.links{
    float: right;
    color: #000000;
    text-align: center;
    padding-left: 17px;
    padding-top: 20px;
    text-decoration: none;
    font-size: 13px;
    font-family: 'arial', 'sans-serif';
}

.top-navbar .links:hover {
    float: right;
    color: #000000;
    text-align: center;
    padding-left: 17px;
    padding-top: 20px;
    text-decoration: underline;
    font-size: 13px;
    font-family: 'arial', 'sans-serif';
}

.search-bar {
    border: 1px solid #dee2e6;
    border-radius: 50px;
    height: 40px;
    width: 500px;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    background: url(./Images/search-logo.jpg) no-repeat scroll 15px 12px;
    background-size: 21px;
    padding-left: 50px;
}

.search-bar:hover {
    height: 42px;
    width: 502px; 
    box-shadow: 1px 2px 10px #dfdfdf;
    outline: none;
}

.button1 {
    margin: 11px 4px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    color: #495057;
    font-size: 15px;
    border: 2px #f8f9fa;
    border-radius: 5px;
}

.button1:hover {
    box-shadow: 0px 0px 0px 1px #ced4da;
    border-radius: 5px;
    cursor: pointer;
}

.button-align {
    text-align: center;
    margin-top: 15px;
    /*margin-left: 64px;*/
}

.subtitle-align {
    /* margin-top: 10px; */
    /*margin-left: 220px;*/
    text-align: center;
    margin-top: 12px;
}

.subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0 0 0px 3px;
    color: #1a2cc7;
    text-decoration: none;
}

.subtitle:hover {
    text-decoration: underline;
}

.subheading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #495057;
    padding: 0 0 20px 20px;
}

footer {
    background-color: #F1F1F1;
    width: 100%;
    height: 47px;
    margin-top: 213px;
    margin-left:0px;
    margin-right: 0px;
}

.footer-text {
    float: left;
    color: #767670;
    text-align: center;
    padding-left: 30px;
    padding-top: 15px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'arial', 'sans-serif';
    text-decoration: none;
}

.footer-text-1 {
    float: left;
    color: #767670;
    text-align: center;
    padding-left: 25px;
    padding-top: 15px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'arial', 'sans-serif';
    text-decoration: none;
}

.footer-text-1:hover {
    text-decoration: underline;
}

.options{
    width: 15px;
}

.top-part{
    margin-top: 15px;
    margin-right: 13px;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    gap: 25px;
    font-family: sans-serif;
    font-size: 13px;
}

.sign{
    width: 85px;
    height: 35px;
    align-self: stretch;
    background-color: #4d59c0;
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
}

.indiv{
    margin-top: 7.5px;
}